---
title: TIY Houston Announcements
---
<div class="reveal">

  <!-- Any section element inside of this container is displayed as a slide -->
  <div class="slides">

<!-- Welcome Slide -->
				<section>
					<h2><div id='today'></div></h2>
					<img src="/images/logo_big.png" alt="" />
				</section>

<!-- Announcments  -->

      <section data-markdown>

        <%= partial "content" %>

      </section>


<!-- Meetups Slide If Any -->
    <% unless meetups_this_week.empty? %>
      <section>
        <h2>Meetups @TIY This Week</h2>
        <ul>
          <% meetups_this_week.each do |meetup| %>
              <%= partial "meetup", locals: {meetup: meetup} %>
          <% end %>
        </ul>
      </section>
    <% end %>

<!-- Speakers -->

  <% unless this_week_speaker.empty? %>
      <% this_week_speaker.each do |speaker| %>
          <%= partial "speaker", locals: {speaker: speaker} %>
      <% end %>
    <% end %>



<!-- Wifi -->
    <section>
      <%= image_tag "wifi.png" %>
    </section>

<!-- Comics -->
    <section>
      <%= image_tag comic_url %>
    </section>



  </div>
</div>
